{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA & AES Chat App Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">
</head>
<body>
    <header>
        <h1>RSA & AES Chat App Demo</h1>
        <p>Connect with your friends and family in real time in a secure way.</p>
    </header>
    <main>
        <div>
            <button style="align-items: center;"><a href="{{ url_for('login') }}" class="btn btn-primary" style="text-transform: none; text-decoration: none;">Login</a></button>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2023</p>
    </footer>
</body>
</html>
{% endblock %}
