body {
    font-family: sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    margin-bottom: 10px;
}

main {
    width: 500px;
    margin: 0 auto;
}

form {
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
     background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

footer {
    background-color: #ccc;
    padding: 20px;
}
